body {
    margin: 0;
    padding: 0;
  }
  
  
  /* Navbar */
  .navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 30px;
    color: #fff;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-left: 20px;
  }
  
  .navbar li:first-child {
    margin-left: 0;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Sliding window */
  .sliding-window {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
  }
  
  .slides {
  
    display: flex;
    width: calc(100% * 3);
  
    /* adjust 3 to match the number of slides */
    transition: transform 0.4s ease-in-out;
  }
  
  .slides img {
    flex-shrink: 0;
    width: 400px;
    height: 400px;
    margin-right: 20px;
    width: calc(100% / 3);
  
    /* adjust 3 to match the number of slides */
  }
  
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  
  .below{
    text-align: center;
    padding-top: 70px;
    font-family: Arial Black;
  }
  
  #features{
    padding: 7% 15%;
  }
  
  .feature-box{
    text-align: center;
  }